html{
    overflow: hidden;
    
    background: url(../images/bg-desktop.svg) center center no-repeat var(--purple-color-);
    background-size: cover;
}

.section{
    width: 100vw;
    height: 100%;
}

.header-section{
    display: flex;
    align-items: center;
    height:fit-content ;
    padding: 30px;
}

.header-section img{
    max-width: 170px;
}

.main-section{
    display: grid;
    grid-template: auto / repeat(2, 50%);
    width: 100vw;
    height: 80vh;
    padding: 40px 100px 20px 50px;
    gap: 60px;
}

.img-mockups{
    grid-area: 1 / 1 / 1 / 1 ;
    min-width: 80%;
    max-width: 100%;
}
.texts{
    padding: 10px;
    grid-area: 1 / 2 / 1 / 2 ;
    color: white;
}

.texts h2{
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.texts p{
    margin-top: 20px;
    font-size: 1em;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
}

.btn{
    width: 200px;
    height: 60px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius:30px;
    padding: 10px;
    background-color: white;
    color: var(--purple-color-);
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: var(--magenta-color-);
    color: white;
}

.footer-section{
    background-color: red;
}