*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin:20px;
}

.container{
    width: 500px;
    height: 500px;
    border: solid 2px #000 ;
    margin: 20px;
}

.container div{
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
}
