.container{
    max-width: 500px;
    min-width: 250px;
    height: 500px;
    border: solid 2px black;
    margin: 20px;
}
.container div{
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 5px;
}