body{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 30px;
    color: white;
    background-color: var(--cor-padrao--);
}

ul{
    display: flex;
    gap: 30px;
}
ul a{
    color: white;
}
ul a:hover{
    background-color: white;
    color: var(--cor-padrao--);
    padding: 5px;
    border-radius: 10px;
    transition: all 0.6s ease-in-out;

}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 300px;
    height: 400px;
    padding: 20px;
    background-color: var(--cor-padrao--);
    color: white;
    border-radius: 10px;

}

input{
    width: 90%;
    height: 10%;
    font-size: 17px;
    font-family: var(--fonte-padrao--);
    border-radius: 10px;
    border: solid 1px white;
    cursor: pointer;

}

.btn{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 20px;
    border: solid 1px white;
    border-radius: 10px;
}

input:hover, .btn:hover{
    box-shadow: 0px 0px 20px 10px rgb(0, 255, 55);
    transition: all 0.7s ease-in-out;

}