*{
    margin: 0;
    box-sizing: border-box;
}

section{
    display: grid;
    grid-template:repeat(4,minmax(100px, 100px)) / minmax(100px, 1000px) minmax(50px, 400px) ;
    gap: 20px;
    width: 100vw;
    min-height: 100vh;
    padding: 10px;
}
.video{
    grid-area: 1 / 1 / 4 / 1 ;
    background-color: cadetblue;
}

.info{
    grid-area: 4 / 1 / 4 / 1;
}

.propaganda{
    background-color: blue;
    grid-area: 1 / 2 / 1 / 2;
    text-align: center;
}

.video-1{
    grid-area: 2 / 2 / 2 / 2 ;
    background-color: aqua;
}

.video-2{
    grid-area: 3 / 2 / 4 / 2;
    background-color: purple;
}
.video-3{
    grid-area: 4 / 2 / 4 / 2;
    background-color: pink;
    font-size: 14px;
}

.box{
    background: #575656;
    width: 40%;
    height: 100%;
}

img{
    width: 40%;
    height: 100%;
    background-color: gray;
    display: inline;
}
