html{
    background-color: black;
}

h1{
    color: #FF0000;
    font-size: 50px;
}

ul{
    color: white;
    font-size:24px;
}

p{
    background-color: #00FFFF;
    color:black;
    font-size:25px;
    display:inline;
}