*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: repeat(4,100px) / 70% 30%;
    gap: 10px;
    padding: 30px;
}

.assistindo{
    grid-area: 1 / 1 / 5 / 1;
}

.atual-video{
    background-color: red;
    width: 100%;
    height: 100%;
}

.propaganda{
    background-color: forestgreen;
    text-align: center;
    grid-area: 1 / 2 / 1 / 2;

}

.video-1{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    grid-area: 2 / 2 / 3 / 2;
    background-color: darkorange;
}

.video-2{
    display: flex;
    background-color: aqua;
    grid-area: 3 / 2 / 4 / 2;
}

.video-3{
    display: flex;
    background-color: brown;
    grid-area: 4 / 2 / 5 / 2;
}

.video-principal{
    width: 100%;
}
img{
    width: 100%;
}
img:not(.atual-video){
    width: 50%;
    height: 100%;
}

.video-info{
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}

/* .vídeo-info h2, p{
    
} */