:root{
    --page-color-theme:rgb(0, 4, 255);
    --font-family-defalt: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #000;
}
body h1{
    text-align: center;
    color: var(--page-color-theme);
    font-family:var(--font-family-defalt);
}
p{
    color:white;
    font-family: var(--font-family-defalt);
}
form{
    display:flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;
    color: var(--text-defalt-color);
}
form .dados input{
    min-width:300px;
    max-width: 600px;
    min-height:30px;
    display:flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;
    margin:10px;
    padding: 7px;
    border: solid 3px var(--page-color-theme);
    background-color: black;
    border-radius:10px;
}

input [value]{
    border-radius: 10px;
    color: #000;
}
p{
    font-family: var(--font-family-defalt);
    color:var(--text-defalt-color);
}

